#dialogWindow{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25%;
    height: 10%;
    background-color: black;

    padding: 20px;
    color: #45494e;
    background-color: #0d1117;
}

#dialogWindow button{
    font-family: 'Chivo Mono', monospace !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: white;

    width: 100%;
    height: 100%;
     padding: 10px 30px 10px 30px; 
    cursor: pointer;
    background-color: rgb(134, 26, 26);
    border: none;
}

#dialogWindow button:hover{
    background-color: rgb(131, 53, 53);
}

#dialogWindow::backdrop{
    background: linear-gradient(45deg, red, rgb(39, 3, 3));
    opacity: 0.2;
}

#dialogBG{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(235, 4, 4, 0.5), rgba(39, 3, 3,0.5));

}

/*RESULT WINDOW*/
/* .result .text{
    padding-top: 10px;
    padding-bottom: 20px;
}
.result .text label{
    color: #b5c8cd;
    font-weight: 700;
}

.result label{
    color: #b5c8cd;
    font-weight: 700;
}

.result{
    padding: 20px;
    padding-top: 10px;
    color: #45494e;
    background-color: #0d1117;
    font-size: 25px;
}
.result button{
     margin-left: 5%; 
    /* padding: 10px 30px 10px 30px; */
    /* margin-top: 5%;
    cursor: pointer;
    background-color: rgb(134, 26, 26);
    border: none;
    font-weight: 700;
    float: left;
    width: 40%;
    height: 40px;
}

.result button:hover{
  background-color: rgb(131, 53, 53);
}
.result::backdrop{
    background: linear-gradient(45deg, red, rgb(39, 3, 3));
    opacity: 0.2;
} */ 